body {
  // height: 100vh;
  // display: grid;
  // justify-content: center;
  // align-items: center;
  // font-size: 0.9rem;
  // background-color: #f9fbff;

  height: 100vh;
  display: grid;
  font-size: 0.9rem;
  background-color: #f9fbff;
  align-items: center;
}

table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px #e1e5ee;
  background-color: white;
  text-align: left;
  overflow: hidden;

  thead {
    box-shadow: 0 5px 10px #e1e5ee;
  }

  th {
    padding: 1rem 4rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }
  td {
    text-align: center;
    padding: 1rem 4rem;
  }

  .status {
    border-radius: 5px;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;

    &-yes {
      background-color: #c8e6c9;
      color: #388e3c;
    }

    &-no {
      background-color: #ffcdd2;
      color: #c62828;
    }
  }
  tr:nth-child(even) {
    background-color: #f4f6fb;
  }
}
