.newStepper{
    /* padding-left: 30rem;
    padding-right: 30rem; */

    margin: auto;
    width: 50%;
    padding: 10px;
}   
.stepperHeader{
    text-align: center;
}

.MuiStepLabel-labelContainer span {
    font-size: large;
}